Project2Description*.pdf

./.idea
./.vscode
./cmake-build-debug
./cmake-build-release
./build

register_alloc
register_alloc.exe
register_alloc_tests
register_alloc_tests.exe

allocation.txt
interference.dot
allocation_colored.dot

tests/output/generated

*.o
*.d
.DS_Store
